<div *ngIf="editMode; then articleEdit else article"></div>
<ng-template #article>
  <app-article
    *ngIf="(article$ | async) as article"
    [article]="article"
    (enterEditMode)="toggleEditMode()"></app-article>
</ng-template>

<ng-template #articleEdit>
  <app-article-edit
    *ngIf="(article$ | async) as article"
    [article]="article"
    [categories]="categories$ | async"
    (saveArticle)="updateArticle($event)"
    (exitEditMode)="toggleEditMode()"></app-article-edit>
</ng-template>
