<form class="form-inline" #f="ngForm" (ngSubmit)="submitSearch(f)">
  <div class="input-group">
    <input
      type="search"
      class="form-control"
      placeholder="Search"
      name="searchTerm"
      aria-label="Search"
      #searchTerm
      [ngModel]="searchTerm$ | async"
      ngModel>
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
    </div>
  </div>
</form>
