<div class="tree">
  <tree-root
    #tree
    [nodes]="treeNodes"
    [options]="treeOptions"
    (moveNode)="updateNodeData($event)">

      <ng-template
        #treeNodeFullTemplate
        let-node
        let-index="index"
        let-templates="templates">

        <div
          [class]="node.getClass()"
          [class.tree-node]="true"
          [class.tree-node-expanded]="node.isExpanded && node.hasChildren"
          [class.tree-node-collapsed]="node.isCollapsed && node.hasChildren"
          [class.tree-node-leaf]="node.isLeaf">

          <tree-node-drop-slot
          *ngIf="index === 0"
          [dropIndex]="node.index"
          [node]="node.parent"></tree-node-drop-slot>

          <div
            class="node-wrapper d-flex align-items-center"
            (treeDrop)="node.onDrop($event)"
            [treeAllowDrop]="node.allowDrop"
            [treeDrag]="node"
            [treeDragEnabled]="node.allowDrag()">

            <a
              *ngIf="node.hasChildren else docIcon"
              href="#"
              class="badge badge-primary icon"
              (click)="node.toggleExpanded()">

              <fa-icon [icon]="node.isCollapsed ? faPlus : faMinus"></fa-icon>
            </a>

            <ng-template #docIcon>
              <span class="icon text-secondary">
                <fa-icon [icon]="faFileAlt"></fa-icon>
              </span>
            </ng-template>

            <app-list-node
              [node]="node.data"
              [selectedArticleId]="selectedArticleId"
              (setSelectedArticleId)="selectArticle($event)"
              (openCategoryModal)="editCategory($event)"></app-list-node>

          </div>

          <tree-node-children [node]="node" [templates]="templates">
          </tree-node-children>

          <tree-node-drop-slot [dropIndex]="node.index + 1" [node]="node.parent">
          </tree-node-drop-slot>

        </div>
      </ng-template>
  </tree-root>

  <div ngPreserveWhitespaces class="mt-2">
    <button class="btn btn-primary" (click)="saveTree(tree.treeModel)">Save</button>
    <button class="btn btn-secondary" (click)="resetTree()">Reset</button>
  </div>
</div>
