<div class="modal-header">
  <div class="modal-title">
    <h4>{{modalTitle}}</h4>
  </div>
  <button type="button" class="close" (click)="close()"><span>&times;</span></button>
</div>
<ng-container [ngSwitch]="modalType">
  <ng-template [ngSwitchCase]="'create'">
    <app-create-category
    (createCategory)="createCategory($event)"
    (cancel)="close()"></app-create-category>
  </ng-template>
  <ng-template [ngSwitchCase]="'delete'">
    <app-delete-category
    *ngIf="categoryId; else error"
    [category]="category$ | async"
    (deleteCategory)="deleteCategory($event)"
    (cancel)="close()"></app-delete-category>
  </ng-template>
  <ng-template [ngSwitchCase]="'update'">
    <app-edit-category
    *ngIf="categoryId; else error"
    [category]="category$ | async"
    (updateCategory)="updateCategory($event)"
    (cancel)="close()"></app-edit-category>
  </ng-template>
</ng-container>

<ng-template #error>
  <div class="modal-body">
    <p>Invalid Category Selected</p>
    <button class="btn btn-secondary" type="button" (click)="close()">Close</button>
  </div>
</ng-template>
