<ul class="nav nav-tabs">
  <li class="nav-item" *ngFor="let tab of tabs">
    <button
      class="nav-link btn btn-link"
      [ngClass]="{active: view === tab.view}"
      (click)="selectListView(tab.view)">
      <fa-icon [icon]="tab.icon"></fa-icon>
    </button>
  </li>
</ul>
