<header class="navbar justify-content-between mb-3">
  <a href="/home" class="navbar-brand align-middle text-white">
    <img src="assets/images/logo.png" class="d-inline-block mr-3" alt="Arris">
    {{productTitle}}
  </a>

  <app-search></app-search>
</header>
