<div class="modal-body">
  <p>Are you sure you want to delete the <strong>{{category.title}}</strong> category?</p>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="submit(category.id)">Delete</button>
  <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
</div>
