<app-list-tabs
  [view]="view"
  (setListView)="setListView($event)"></app-list-tabs>
<div class="list-group" [ngSwitch]="view">
  <ng-template [ngSwitchCase]="listView.articles">
    <app-tree-list
      [articles]="articles"
      [selectedArticleId]="selectedArticleId$ | async"
      (setSelectedArticleId)="setSelectedArticleId($event)"
      (updateArticles)="updateArticleList($event)"></app-tree-list>
  </ng-template>
  <ng-template [ngSwitchCase]="listView.alphabetized">
    <button class="btn btn-success mt-2" type="button" (click)="openCategoryModal('create')">
      Add Category
    </button>
    <app-tree-list
      [articles]="articles"
      [categories]="categories$ | async"
      [selectedArticleId]="selectedArticleId$ | async"
      (setSelectedArticleId)="setSelectedArticleId($event)"
      (updateArticles)="updateArticleList($event)"
      (openCategoryModal)="editCategories($event)"></app-tree-list>
  </ng-template>
  <ng-template [ngSwitchCase]="listView.search">
    <app-search class="mt-2"></app-search>
    <app-search-results-list
      [articles]="articles"
      [searchTerm]="searchTerm"
      [selectedArticleId]="selectedArticleId$ | async"
      (setSelectedArticleId)="setSelectedArticleId($event)"></app-search-results-list>
  </ng-template>
</div>
