<form #f="ngForm" (ngSubmit)="submitUpdates(f)">
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input id="titleInput" class="form-control form-control-lg" type="text" name="title" [ngModel]="article.title">
  </div>
  <div class="form-group">
    <label for="contentInput">Content</label>
    <quill-editor
      id="contentInput"
      name="content"
      placeholder="Some text"
      [ngModel]="article.content"
      [modules]="quillOptions"
      ></quill-editor>
  </div>
  <div class="form-group">
    <label for="categorySelector">Category</label>
    <div class="form-row">
      <div class="col">
        <select name="categoryId" id="categorySelector" class="form-control" [ngModel]="article.categoryId">
          <option value="''"></option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{category.title}}
          </option>
        </select>
      </div>
      <div class="col">
        <div class="btn-group" role="group">
          <button class="btn btn-success" type="button" (click)="openCategoryModal('create')">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
          <button class="btn btn-info" type="button" (click)="openCategoryModal('update', f.value.categoryId)">
            <fa-icon [icon]="faPen"></fa-icon>
          </button>
          <button class="btn btn-danger" type="button" (click)="openCategoryModal('delete', f.value.categoryId)">
            <fa-icon [icon]="faMinus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div ngPreserveWhitespaces>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" (click)="stopEditing()">Cancel</button>
  </div>
</form>
