<div [ngClass]="node.type" class="node" [ngSwitch]="node.type">
  <ng-template [ngSwitchCase]="nodeType.article" class="articleNode">
    <button
      class="btn btn-link p-2"
      [ngClass]="{'active': selectedArticle?.id === node.id}"
      (click)="selectArticle(node.id)">
      {{node.title}}
    </button>
  </ng-template>
  <ng-template [ngSwitchCase]="nodeType.category">
    <div class="categoryNode">
      <span class="h5 d-inline-block p-2 mb-0">
        {{node.title}}
      </span>
      <div class="btn-group">
        <button class="btn btn-info btn-sm" (click)="editCategory('update', node.id)">
          <fa-icon [icon]="faPen"></fa-icon>
        </button>
        <button class="btn btn-danger btn-sm" (click)="editCategory('delete', node.id)">
          <fa-icon [icon]="faMinus"></fa-icon>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template [ngSwitchCase]="nodeType.searchResult" class="searchNode">
    <button class="btn btn-link btn-lg p-0" [ngClass]="{'active': selectedArticle?.id === node.id}" (click)="selectArticle(node.id)">
      {{node.title}}
    </button>
    <div
    class="summary"
    [innerHTML]="node.content | articleSummary">
    </div>
  </ng-template>
</div>
