@import '~src/scss/variables';

.node-content-wrapper-active {
  background: transparent;
}

.node {
  &.searchResult {
    border-bottom: 1px solid black;
    padding: 0.5rem 0;
  }
}

.list-group-item {
  padding: 0;

  &.active {
    background: transparent;
    color: purple;
  }
}

.h5 {
  vertical-align: middle;
}

.btn-sm {
  font-size: 0.65rem;
}
