<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <app-article-explorer-container></app-article-explorer-container>
    </div>
    <div class="col-md-8">
      <app-article-container></app-article-container>
    </div>
  </div>
</div>
