<div class="modal-body">
  <form #f="ngForm" (ngSubmit)="submit(f.value.categoryTitle)">
    <div class="form-group">
      <label for="categoryTitle">Title</label>
      <input id="categoryTitle" class="form-control" type="text" name="categoryTitle" ngModel>
    </div>
    <button class="btn btn-primary" type="submit">Add</button>
    <button class="btn btn-secondary" type="button" (click)="cancel()">Cancel</button>
  </form>
</div>
